@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;900&family=Zen+Kurenaido&display=swap');

html, body {
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	font-family: 'Zen Kurenaido', sans-serif;
	background: black;
	color: white;
	padding: 0;
	margin: 0;

}

nav {
	color: black;
    background-color: #A13C30;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 2px 4px rgb(0, 0, 0 / 20%);
	position: sticky;
	top: -1px;

}

ul{
	padding: 0;
	list-style-type: none;


}

li {
	text-decoration: none;
    background-color: #440700;
    border: #5A0A00 solid 1px;
    border-radius: 10px;
    margin: 10px 40%;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 800;
    padding: 5px;
}

a {
	text-decoration: none;
	color: white;
	font-style: 20px;


}

img{
	height: 200px;
}

.title {
	text-transform: uppercase;
	font-weight: 800;
	padding: 10px;
	font-size: 30px;
	letter-spacing: 5px;


}

.wrapper {
	text-align: center;
	padding: 20px;

}

.free-trail{
	text-decoration: none;
    background-color: #923A30;
    border: #5A0A00 solid 2px;
    border-radius: 10px;
    margin: 10px 40%;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 800;
    padding: 5px;


}

h3 {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 25px;
	padding: 0;
	letter-spacing: 4px;

}

p {
	letter-spacing: 5px;

}



footer{
color: mistyrose;

}


@media all and (max-width: 800px) {

 
 li {
	text-decoration: none;
    background-color: #440700;
    border: #5A0A00 solid 1px;
    border-radius: 10px;
    margin: 10px 15%;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 800;
    padding: 5px;
	}


.free-trail{
	text-decoration: none;
    background-color: #923A30;
    border: #5A0A00 solid 2px;
    border-radius: 10px;
    margin: 10px 15%;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 800;
    padding: 5px;


}
}